{% extends "post/layout.html"%}
{% block content%}
{% load crispy_forms_tags %}
<style>
 .decor{
background:white;
padding:7%;
padding-top:3%;

}
          form {
      position: relative;
      width: 100%;
      border-radius: 30px;

      }

      .form-left-decoration,
      .form-right-decoration {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 20px;
      background: #4C88CA;
      }
      .form-left-decoration {
      bottom: 60px;
      left: -30px;
      }
      .form-right-decoration {
      top: 60px;
      right: -30px;
      }
      .form-left-decoration:before,
      .form-left-decoration:after,
      .form-right-decoration:before,
      .form-right-decoration:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 30px;
      background: #e7f5ff;
      }
      .form-left-decoration:before {
      top: -20px;
      }
      .form-left-decoration:after {
      top: 20px;
      left: 10px;
      }
      .form-right-decoration:before {
      top: -20px;
      right: 0;
      }
      .form-right-decoration:after {
      top: 20px;
      right: 10px;
      }
      .circle {
      position: absolute;
      bottom: 80px;
      left: -55px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      }

      .form-control{
      margin:2%;
      margin-top:2%;
      background:#fcfdff;
      }
      #leftbox {
                float:left;

                width:75%;

            }
       #rightbox{
                float:left;

                width:25%;

            }
       loc{
       margin-top:50%
       }


</style>


<div class="row" id="leftbox">


    <div class="col-10"  >
        <br>
<br>
        <form action="" class="decor" method="post">
            <h1>Add Events</h1>
            {% csrf_token %}

            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">

                <input class="form-control" type="text" placeholder="Name of Event" name="ename">

                <input class="form-control" type="date" placeholder="Date of Event" name="dateofevent">
                <input class="form-control" type="text" placeholder="Type of Event" name="typeofevent">
                <input class="form-control" type="text" placeholder="Place" name="place">



                <textarea class="form-control" placeholder="Description..." rows="7"
                          name="description"></textarea>
                <input class="form-control" type="text" placeholder="Link to the Event" name="linktoevent">

                <center>
                    <button type="submit" href="/post" class="btn btn-dark text-center">Add Event
                    </button>
                </center>
            </div>

        </form>


    </div>
<div class="col-2" id="rightbox" align="left">
    <br><br>
    <img src="https://user-images.githubusercontent.com/43414928/115123948-31fa2d00-9fdd-11eb-9509-f47a62f64287.gif"
         height="400px" width="400px" alt="">


</div>

</div>
<br>
<br>



{% endblock%}