{% extends 'post/layout.html' %}

{% block content %}


{% if user.is_authenticated %}


<div class="row">

    <div class="col-8">
 <br> <br>
        <ul>

            {% for post in AllPosts %}
            <div class="row homePage-cards"
                 style="box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); background:#fff; padding:2%; margin-right:5%; border-radius:1%">
                <div class="col-12">
                    <div class="media m-1">
                        <div class="d-flex mr-3">
                            <a href="/profile"><img class="img rounded-circle"
                                                    src="https://assets.codepen.io/2709552/1-avatar_1.png"
                                                    alt="User" width="68" height="68"></a>
                        </div>
                        <div class="media-body">
                            <p style="margin:7px 0;font-size:15px">{{i.askedby_name}}

                            </p>

                            <hr>


                        </div>


                    </div>

                    <b style=" font-size:19px" class="text-color"> <a href="{% url 'ParticularPost' id=post.id %}"
                                                                      style="color:inherit;text-decoration:none">
                        {{post.Title}} </a>
                    </b>
                    <br>
                    <span style="color:#495057;font-size:16px"> {{post.Description}}</span>
                    <br><br>


                </div>


            </div>

            {% endfor %}


        </ul>
    </div>

    <div class="col-4">
         <br> <br>
       <h4 style="font-weight: 600">Upcoming events</h4>
        <img class="d-block img-fluid"
             src="https://user-images.githubusercontent.com/43414928/115122981-7d5e0c80-9fd8-11eb-998e-d10e522850b7.gif"
             width="400">
        <ul>
            {% for event in AllEvents %}
            <li> {{event.EventName}}
                {{event.EventDate}}
                {{event.EventType}}
            </li>
        </ul>

    </div>

    {% endfor %}
</div>
</div>
{% endif %}

{% endblock %}