@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.app {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 70px minmax(200px, 1fr);
  grid-template-areas: "nav main" "nav main";
  background:hsl(165, 33%, 98%);
  transform:translateY(-5%);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 20;
  overflow: hidden;
  transition: width ease 600ms;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.nav.is-open {
  width: 200px;
}

.main {
  padding: 0 1em;
  grid-area: main;
  background: var(hsl(165, 33%, 98%));
}

.menu__item {
  cursor: pointer;
  display: block;
  line-height: 60px;
  padding-right: 1.1em;
  white-space: nowrap;
  font-size: 0.8125rem;
}

.menu__item:hover {
  background: #f0f3ff;
}

.menu__icon {
  display: inline-block;
  margin-right: 27px;
  vertical-align: middle;
}

.nav__logout {
  line-height: 10px;
  padding-left: 2em;
  white-space: nowrap;
}

.nav__link {
  text-decoration: none;
  font-size: 0.8125rem;
}

.nav__link > .icon {
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
}



/*========= Main ==========*/
.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__search {
  display: none;
}

.main__user {
  display: flex;
  align-items: center;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > .icon {
  display: inline-block;
  margin-left: 0.5em;
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-radius: 11px;
  gap: 2em;
}

.card {
  background: white;
  padding: 0.8em;
  border-radius: 12px;
  box-shadow: var(--shadow-3);
}



.card__body {
  padding: 1.4em 0;
}


.title {
  font-size: 0.8125rem;
  font-weight: var(--fw-300);
}

.homePage-cards{
margin-bottom:4%;
}

@media (min-width: 48em) {
  .app {
    max-width: 1440px;
    width: 100%;
    margin: 5vh auto;
    grid-template-columns: 266px 1fr;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow-4);
  }

  .navbar {
    grid-area: nav;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 266px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 2em;
    height:1000px !important;
     ;
  }

  .burger {
    display: none;
  }

  .main {
    padding: 0 4em;

    overflow-y: auto;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .main__header {
    justify-content: space-between;
    margin-top: 3em;
  }

  .main__search {
    display: block;
    position: relative;
  }

  input[type=search] {
    border: 0;
    outline: 0;
    background: white;
    padding: 0.8em 1em;
    border-radius: 12px;
    text-indent: 2em;
  }

  .icon-search {
    position: absolute;
    left: 1.2em;
    top: 1em;
    width: 17px;
    height: 17px;
  }

  input[type=search]::placeholder {
    font-size: 0.875rem;
    font-weight: var(--fw-400);
    color: #a3a7bd;
  }

  .main__user {
    gap: 1em;
    align-items: center;
  }

  .team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .team__setting {
    display: flex;
    align-items: center;
    gap: 1.4em;
  }

  .team__icon {
    display: block;
    width: 38px;
    height: 38px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: var(--shadow-2);
  }
}